body {
    padding: 5vmin;
    padding-top: 2.5vmin;

    background: white;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Logo-box {
    margin-bottom: 1vmin;
}
#Logo {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    font-size: 4vmin;
    line-height: 4vmin;
    color: #6965FF;
    width: 90vmin;

    /* text-align: center; */
}
#Logo-text {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 2vmin;
    line-height: 2vmin;
    color: #6965FF;

    width: 90vmin;
}

.grid-padding {
    height: 80vmin;
    width: 80vmin;

    padding: 5vmin;

    background-color: #dedede;
}
.grid-box {
    height: 80vmin;
    width: 80vmin;

    display: grid;
    align-content: space-between;
    justify-content: stretch;
}

.grid {
    display: grid;
}

.color-box {
    background-color: black;
    padding: 1vmin;

    display: grid;
    align-content: space-between;
}
.color-inform {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 2vmin;

    display: flex;
    justify-content: space-between;
}
.number-circle {
    height: 3vmin;
    width: 3vmin;

    border-radius: 50%;

    text-align: center;
}

.title {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 2vmin;

    line-height: 2vmin;
}
.korean-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 1vmin;
}

#Primary {
    grid-template-columns: repeat(4, 1fr);

    height: 24vmin;
}
#UI {
    grid-template-columns: repeat(3, 1fr);

    height: 12vmin;
}
#On-UI {
    grid-template-columns: repeat(auto-fit, minmax(33%, auto));

    height: 24vmin;
}

#On-UI-Part1 {
    grid-template-columns: repeat(auto-fit, minmax(50%, auto));

    height: 50%;
}
#On-UI-Part2 {
    grid-template-columns: repeat(auto-fit, minmax(33%, auto));

    height: 50%;
}

.circle-black {
    background-color: black;
    color: white;
}
.circle-white {
    background-color: white;
    color: black;
}

#c1 {
    background: #6965FF;
    color: white;
}
#c2 {
    background: #AAA8FF;
    color: white;
}
#c3 {
    background: ;
    color: white;

    border-right: 0.2vmin solid #DEDEDE;
}
#c4 {
    background: ;
    color: white;
}
#c5 {
    background: #F5F5FA;
    color: black;

    border-right: 0.2vmin solid #DEDEDE;
}
#c6 {
    background: #F5F5FA;
    color: black;
}
#c7 {
    background: #FF2F15;
    color: white;
}
#c8 {
    background: ;
    color: white;

    border-right: 0.2vmin solid #DEDEDE;
}
#c9 {
    background: ;
    color: white;
}
#c10 {
    background: #606060;
    color: white;
    border-right: 0.2vmin solid #DEDEDE;
}
#c11 {
    background: #606060;
    color: white;
}
#c12 {
    background: #FFFFFF;
    color: blackF;
}